<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>
<style type="text/css">
span{
	color: red;
}
</style>
</head>
<body>
	<form id="ff" action="reg.do">
		账号:<input name="ename" v-model="user.ename"><span id="ename"></span><br>
		昵称:<input name="cname" v-model="user.cname"><span id="cname"></span><br>
		密码:<input type="password" name="password" v-model="user.password"><span id="password"></span><br>
		邮箱:<input name="email" v-model="user.email"><span id="email"></span><br>
		电话:<input name="phone" v-model="user.phone"><span id="phone"></span><br>
		性别:<input name="sex" v-model="user.sex"><span id="sex"></span><br>
		<button @click="reg" type="button">注册</button>
	</form>
	<script type="text/javascript">
		var v = new Vue({
			el:"#ff",
			data:{
				user:{}
			},
			methods:{
				reg(){
					axios.get("reg.do",{
						params : this.user
					}).then(res=>{
						if(res.data.code==0){
							for(var e of res.data.data){
								var span =document.getElementById(e.field);
								span.innerText = e.defaultMessage;
							}
						}
					});
				}
			}
		});
	</script>

</body>
</html>